<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>changed values</key>
			<array/>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict/>
					<key>change date</key>
					<date>2010-10-21T08:34:24Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>01e0896c3e22a439be7ccf8ed43ab5e4
</string>
					<key>name</key>
					<string>Localizable.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Accept</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Accept</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Accept</string>
								<key>ru</key>
								<string>Утвердить</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Folders-&gt;Archive</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Archive</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Archive</string>
								<key>ru</key>
								<string>Архив</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Folders-&gt;Archived resolutions</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Archived resolutions</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Archived resolutions</string>
								<key>ru</key>
								<string>Рассмотрение</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Folders-&gt;Archived signatures</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Archived signatures</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Archived signatures</string>
								<key>ru</key>
								<string>Подписание</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Back</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Back</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Back</string>
								<key>ru</key>
								<string>Назад</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Bad response</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Bad response</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Bad response</string>
								<key>ru</key>
								<string>Неверный ответ сервера</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Cancel</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Cancel</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Cancel</string>
								<key>ru</key>
								<string>Отменить</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Close</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Close</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Close</string>
								<key>ru</key>
								<string>Закрыть</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Comment</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Comment</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Comment</string>
								<key>ru</key>
								<string>Комментарий</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Deadline</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Deadline</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Deadline</string>
								<key>ru</key>
								<string>Срок</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Decline</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Decline</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Decline</string>
								<key>ru</key>
								<string>Вернуть</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Delete</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Delete</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Delete</string>
								<key>ru</key>
								<string>Удалить</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Folders-&gt;Documents</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Documents</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Documents</string>
								<key>ru</key>
								<string>Документы</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Enter resolution text</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Enter resolution text</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Enter resolution text</string>
								<key>ru</key>
								<string>Введите текст резолюции</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Error</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Error</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Error</string>
								<key>ru</key>
								<string>Ошибка</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Files</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Files</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Files</string>
								<key>ru</key>
								<string>Файлы</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>from</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>from</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>from</string>
								<key>ru</key>
								<string>от</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Information</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Information</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Information</string>
								<key>ru</key>
								<string>Информация</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Linked files</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Linked files</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Linked files</string>
								<key>ru</key>
								<string>Связаные документы</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Listen comment</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Listen comment</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Listen comment</string>
								<key>ru</key>
								<string>Прослушать</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Managed</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Managed</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Managed</string>
								<key>ru</key>
								<string>Проект находится на контроле</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>of</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>of</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>of</string>
								<key>ru</key>
								<string>из</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>OK</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>OK</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>OK</string>
								<key>ru</key>
								<string>ОК</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Page</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Page</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Page</string>
								<key>ru</key>
								<string>Страница</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>page</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>page</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>page</string>
								<key>ru</key>
								<string>Страница</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>pages from 2 to 4 in instrumentalis</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>1</integer>
							<key>key</key>
							<string>pages_2-4_instrumentalis</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>pages_2-4_instrumentalis</string>
								<key>ru</key>
								<string>страницы</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>pages_instrumentalis</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>1</integer>
							<key>key</key>
							<string>pages_instrumentalis</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>pages_instrumentalis</string>
								<key>ru</key>
								<string>страниц</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Parent resolution</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Parent resolution</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Parent resolution</string>
								<key>ru</key>
								<string>Вышестоящая резолюция</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Password</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Password</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Password</string>
								<key>ru</key>
								<string>Пароль</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Record</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Record</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Record</string>
								<key>ru</key>
								<string>Записать</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Recording</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Recording</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Recording</string>
								<key>ru</key>
								<string>Запись</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Resolution</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Resolution</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Resolution</string>
								<key>ru</key>
								<string>Резолюция</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Folders-&gt;Resolutions</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Resolutions</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Resolutions</string>
								<key>ru</key>
								<string>Рассмотрение</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Folders-&gt;Signatures</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Signatures</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Signatures</string>
								<key>ru</key>
								<string>Подписание</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Synchronization error</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Synchronization error</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Synchronization error</string>
								<key>ru</key>
								<string>Ошибка синхронизации</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Synchronized</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Synchronized</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Synchronized</string>
								<key>ru</key>
								<string>Синхронизировано</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Synchronizing</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Synchronizing</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Synchronizing</string>
								<key>ru</key>
								<string>Синхронизируется</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Comment-&gt;textual</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Textual</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Textual</string>
								<key>ru</key>
								<string>Текстовый</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Today</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Today</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Today</string>
								<key>ru</key>
								<string>Сегодня</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Tomorrow</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Tomorrow</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Tomorrow</string>
								<key>ru</key>
								<string>Завтра</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Unable to play audio</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Unable to play audio</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Unable to play audio</string>
								<key>ru</key>
								<string>Не могу проиграть запись</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Unable to record audio</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Unable to record audio</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Unable to record audio</string>
								<key>ru</key>
								<string>Не могу начать запись</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Unable to synchronyze</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Unable to synchronyze</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Unable to synchronyze</string>
								<key>ru</key>
								<string>Не могу синхронизироваться</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Username</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Username</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Username</string>
								<key>ru</key>
								<string>Имя пользователя</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Username and password</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Username and password</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Username and password</string>
								<key>ru</key>
								<string>Имя пользователя и пароль</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Comment-&gt;voice</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Voice</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Voice</string>
								<key>ru</key>
								<string>Голосовой</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Yesterday</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Yesterday</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Yesterday</string>
								<key>ru</key>
								<string>Вчера</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>old objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>login-&gt;Enter</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Enter</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Enter</string>
								<key>ru</key>
								<string>Войти</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>password</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>password</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>password</string>
								<key>ru</key>
								<string>пароль</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>login-&gt;Quit</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Quit</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Quit</string>
								<key>ru</key>
								<string>Выход</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>username</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>username</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>username</string>
								<key>ru</key>
								<string>имя пользователя</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Remove</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Remove</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Remove</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array>
								<string>&lt;reference&gt;</string>
							</array>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Author</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Author</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Author</string>
								<key>ru</key>
								<string>Автор</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>correspondents</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>correspondents</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>correspondents</string>
								<key>ru</key>
								<string>корреспонденты</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict/>
				</dict>
				<dict>
					<key>attachments</key>
					<dict/>
					<key>change date</key>
					<date>2010-10-05T09:11:49Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>22869742a27fd837824bec4df687c29b
</string>
					<key>name</key>
					<string>InfoPlist.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Localized versions of Info.plist keys</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>NSHumanReadableCopyright</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>©Aramzamzam.net, 2010</string>
								<key>ru</key>
								<string>©Aramzamzam.net, 2010</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Localized versions of Info.plist keys</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>CFBundleDisplayName</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>iPapka</string>
								<key>ru</key>
								<string>iPapka</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>old objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict/>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Meester</string>
		</dict>
		<dict>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>changed values</key>
			<array/>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict/>
					<key>change date</key>
					<date>2010-10-23T20:52:35Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>9d16044a612291b0321a4fd712e628f3
</string>
					<key>name</key>
					<string>Root.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Server settings</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Server settings</string>
								<key>ru</key>
								<string>Настройки сервера</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Server URL</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Server URL</string>
								<key>ru</key>
								<string>URL сервера</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Reset password</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Reset password</string>
								<key>ru</key>
								<string>Сбросить пароль</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Version</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Version</string>
								<key>ru</key>
								<string>Версия</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Automatic synchronization</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Automatic synchronization</string>
								<key>ru</key>
								<string>Автоматическая синхронизация</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Disabled</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Disabled</string>
								<key>ru</key>
								<string>Выключена</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>3 minutes</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>3 minutes</string>
								<key>ru</key>
								<string>3 минуты</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>5 minutes</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>5 minutes</string>
								<key>ru</key>
								<string>5 минут</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>10 minutes</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>10 minutes</string>
								<key>ru</key>
								<string>10 минут</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>old objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array>
								<string>&lt;reference&gt;</string>
							</array>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>A single strings file, whose title is specified in your preferences schema. The strings files provide the localized content to display to the user for each of your preferences.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Automatically synchronize</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Automatically synchronize</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict/>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Settings.bundle</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Settings.bundle</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
		<string>ru</string>
	</array>
	<key>preferences</key>
	<dict>
		<key>defaultBundleNaming</key>
		<integer>1</integer>
		<key>defaultBundleReferencing</key>
		<integer>1</integer>
		<key>includeInterfacePreview</key>
		<true/>
		<key>lastOpenedFolder</key>
		<string>/Users/vovasty/Documents/inttrust/Meester</string>
		<key>lastSavePath</key>
		<string></string>
		<key>openFolderAfterWriteOut</key>
		<string></string>
		<key>saveToOneFile</key>
		<integer>1</integer>
	</dict>
	<key>reference language</key>
	<string>en</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
